---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Joseph Chekanoff" description="Entrepreneur-developer living in Worthington, Ohio.">
  <h1>Joseph Chekanoff</h1>

  <p>I am an entrepreneur-developer living in Worthington, Ohio.</p>

  <p>For nearly a decade, I've led <a href="https://www.chekcreative.com/">Chek&nbsp;Creative</a>. In 2024, I co-founded <a href="https://www.exteriorliving.co/">The Exterior&nbsp;Living Company</a> with my dad and brother.</p>

  <p>Husband to Erica and (very soon) a girl dad, I'm a passionate Cleveland Guardians fan, hobbyist runner, and, occasionally, an <a href="https://www.youtube.com/watch?v=KdkQ3xgaTlA">amateur singer</a>.</p>
</BaseLayout>
